/* layer: preflights */
*,::before,::after{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}::backdrop{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}
/* layer: icons */
.i-mdi-close{--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12z'/%3E%3C/svg%3E");-webkit-mask:var(--un-icon) no-repeat;mask:var(--un-icon) no-repeat;-webkit-mask-size:100% 100%;mask-size:100% 100%;background-color:currentColor;color:inherit;width:1em;height:1em;}
/* layer: daisy-base */
:root,
[data-theme] {
    background-color: hsl(var(--b1) / var(--un-bg-opacity, 1));
    color: hsl(var(--bc) / var(--un-text-opacity, 1))
}
html {
    -webkit-tap-highlight-color: transparent
}
/* layer: daisy-components */
.link-hover:hover {
        text-decoration-line: underline
    }
.link-primary:hover {
        --un-text-opacity: 1;
        color: hsl(var(--pf) / var(--un-text-opacity))
    }
.link-secondary:hover {
        --un-text-opacity: 1;
        color: hsl(var(--sf) / var(--un-text-opacity))
    }
.link-accent:hover {
        --un-text-opacity: 1;
        color: hsl(var(--af) / var(--un-text-opacity))
    }
.link-neutral:hover {
        --un-text-opacity: 1;
        color: hsl(var(--nf) / var(--un-text-opacity))
    }
.link-success:hover {
        --un-text-opacity: 1;
        color: hsl(var(--su) / var(--un-text-opacity))
    }
.link-info:hover {
        --un-text-opacity: 1;
        color: hsl(var(--in) / var(--un-text-opacity))
    }
.link-warning:hover {
        --un-text-opacity: 1;
        color: hsl(var(--wa) / var(--un-text-opacity))
    }
.link-error:hover {
        --un-text-opacity: 1;
        color: hsl(var(--er) / var(--un-text-opacity))
    }
.link {
    cursor: pointer;
    text-decoration-line: underline
}
.link-hover {
    text-decoration-line: none
}
.link-primary {
    --un-text-opacity: 1;
    color: hsl(var(--p) / var(--un-text-opacity))
}
.link-secondary {
    --un-text-opacity: 1;
    color: hsl(var(--s) / var(--un-text-opacity))
}
.link-accent {
    --un-text-opacity: 1;
    color: hsl(var(--a) / var(--un-text-opacity))
}
.link-neutral {
    --un-text-opacity: 1;
    color: hsl(var(--n) / var(--un-text-opacity))
}
.link-success {
    --un-text-opacity: 1;
    color: hsl(var(--su) / var(--un-text-opacity))
}
.link-info {
    --un-text-opacity: 1;
    color: hsl(var(--in) / var(--un-text-opacity))
}
.link-warning {
    --un-text-opacity: 1;
    color: hsl(var(--wa) / var(--un-text-opacity))
}
.link-error {
    --un-text-opacity: 1;
    color: hsl(var(--er) / var(--un-text-opacity))
}
.link:focus {
    outline: 2px solid transparent;
    outline-offset: 2px
}
.link:focus-visible {
    outline: 2px solid currentColor;
    outline-offset: 2px
}

.menu li > *:not(ul):not(.menu-title):not(details):active,
.menu li > *:not(ul):not(.menu-title):not(details).active,
.menu li > details > summary:active {
        --un-bg-opacity: 1;
        background-color: hsl(var(--n) / var(--un-bg-opacity));
        --un-text-opacity: 1;
        color: hsl(var(--nc) / var(--un-text-opacity))
    }
:where(.menu li:not(.menu-title):not(.disabled) > *:not(ul):not(details):not(.menu-title)):not(.active):hover, :where(.menu li:not(.menu-title):not(.disabled) > details > summary:not(.menu-title)):not(.active):hover {
        cursor: pointer;
        background-color: hsl(var(--bc) / 0.1);
        --un-text-opacity: 1;
        color: hsl(var(--bc) / var(--un-text-opacity));
        outline: 2px solid transparent;
        outline-offset: 2px
    }
.menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.5rem
}
.menu :where(li ul) {
    position: relative;
    white-space: nowrap;
    margin-left: 1rem;
    padding-left: 0.5rem
}
.menu :where(li:not(.menu-title) > *:not(ul):not(details):not(.menu-title)),
  .menu :where(li:not(.menu-title) > details > summary:not(.menu-title)) {
    display: grid;
    grid-auto-flow: column;
    align-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    grid-auto-columns: minmax(auto, max-content) auto max-content;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none
}
.menu li.disabled {
    cursor: not-allowed;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    color: hsl(var(--bc) / 0.3)
}
.menu :where(li > .menu-dropdown:not(.menu-dropdown-show)) {
    display: none
}
:where(.menu li) {
    position: relative;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch
}
:where(.menu li) .badge {
    justify-self: end
}
:where(.menu li:empty) {
    background-color: hsl(var(--bc) / 0.1);
    margin: 0.5rem 1rem;
    height: 1px
}
.menu :where(li ul):before {
    position: absolute;
    bottom: 0.75rem;
    left: 0px;
    top: 0.75rem;
    width: 1px;
    background-color: hsl(var(--bc) / 0.1);
    content: ""
}
.menu :where(li:not(.menu-title) > *:not(ul):not(details):not(.menu-title)),
.menu :where(li:not(.menu-title) > details > summary:not(.menu-title)) {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: left;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 200ms;
    border-radius: var(--rounded-btn, 0.5rem);
    text-wrap: balance
}
:where(.menu li:not(.menu-title):not(.disabled) > *:not(ul):not(details):not(.menu-title)):not(summary):not(.active).focus,
  :where(.menu li:not(.menu-title):not(.disabled) > *:not(ul):not(details):not(.menu-title)):not(summary):not(.active):focus,
  :where(.menu li:not(.menu-title):not(.disabled) > *:not(ul):not(details):not(.menu-title)):is(summary):not(.active):focus-visible,
  :where(.menu li:not(.menu-title):not(.disabled) > details > summary:not(.menu-title)):not(summary):not(.active).focus,
  :where(.menu li:not(.menu-title):not(.disabled) > details > summary:not(.menu-title)):not(summary):not(.active):focus,
  :where(.menu li:not(.menu-title):not(.disabled) > details > summary:not(.menu-title)):is(summary):not(.active):focus-visible {
    cursor: pointer;
    background-color: hsl(var(--bc) / 0.1);
    --un-text-opacity: 1;
    color: hsl(var(--bc) / var(--un-text-opacity));
    outline: 2px solid transparent;
    outline-offset: 2px
}
.menu li > *:not(ul):not(.menu-title):not(details):active,
.menu li > *:not(ul):not(.menu-title):not(details).active,
.menu li > details > summary:active {
    --un-bg-opacity: 1;
    background-color: hsl(var(--n) / var(--un-bg-opacity));
    --un-text-opacity: 1;
    color: hsl(var(--nc) / var(--un-text-opacity))
}
.menu :where(li > details > summary)::-webkit-details-marker {
    display: none
}
.menu :where(li > details > summary):after,
.menu :where(li > .menu-dropdown-toggle):after {
    justify-self: end;
    display: block;
    margin-top: -0.5rem;
    height: 0.5rem;
    width: 0.5rem;
    transform: rotate(45deg);
    transition-property: transform, margin-top;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    content: "";
    transform-origin: 75% 75%;
    box-shadow: 2px 2px;
    pointer-events: none
}
.menu :where(li > details[open] > summary):after,
.menu :where(li > .menu-dropdown-toggle.menu-dropdown-show):after {
    transform: rotate(225deg);
    margin-top: 0
}

.btn {
    display: inline-flex;
    flex-shrink: 0;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-color: transparent;
    border-color: hsl(var(--b2) / var(--un-border-opacity));
    text-align: center;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 200ms;
    border-radius: var(--rounded-btn, 0.5rem);
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    min-height: 3rem;
    font-size: 0.875rem;
    line-height: 1em;
    gap: 0.5rem;
    font-weight: 600;
    text-decoration-line: none;
    text-decoration-line: none;
    border-width: var(--border-btn, 1px);
    animation: button-pop var(--animation-btn, 0.25s) ease-out;
    text-transform: var(--btn-text-case, uppercase);
    --un-border-opacity: 1;
    --un-bg-opacity: 1;
    background-color: hsl(var(--b2) / var(--un-bg-opacity));
    --un-text-opacity: 1;
    color: hsl(var(--bc) / var(--un-text-opacity));
    outline-color: hsl(var(--bc) / 1)
}
.btn:is(input[type="checkbox"]),
.btn:is(input[type="radio"]) {
    width: auto;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none
}
.btn:is(input[type="checkbox"]):after,
.btn:is(input[type="radio"]):after {
    --un-content: attr(aria-label);
    content: var(--un-content)
}
.btn:hover {
        --un-border-opacity: 1;
        border-color: hsl(var(--b3) / var(--un-border-opacity));
        --un-bg-opacity: 1;
        background-color: hsl(var(--b3) / var(--un-bg-opacity))
    }
.btn.glass:hover {
        --glass-opacity: 25%;
        --glass-border-opacity: 15%
    }
.btn:is(input[type="checkbox"]:checked):hover, .btn:is(input[type="radio"]:checked):hover {
        --un-border-opacity: 1;
        border-color: hsl(var(--pf) / var(--un-border-opacity));
        --un-bg-opacity: 1;
        background-color: hsl(var(--pf) / var(--un-bg-opacity))
    }
.btn:active:hover,
  .btn:active:focus {
    animation: button-pop 0s ease-out;
    transform: scale(var(--btn-focus-scale, 0.97))
}
.btn:focus-visible {
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 2px
}
.btn.glass {
    --un-shadow: 0 0 #0000;
    --un-shadow-colored: 0 0 #0000;
    box-shadow: var(--un-ring-offset-shadow, 0 0 #0000), var(--un-ring-shadow, 0 0 #0000), var(--un-shadow);
    outline-color: currentColor
}
.btn.glass.btn-active {
    --glass-opacity: 25%;
    --glass-border-opacity: 15%
}
.btn.btn-disabled,
  .btn[disabled],
  .btn:disabled {
    --un-border-opacity: 0;
    background-color: hsl(var(--n) / var(--un-bg-opacity));
    --un-bg-opacity: 0.2;
    color: hsl(var(--bc) / var(--un-text-opacity));
    --un-text-opacity: 0.2
}
.btn:is(input[type="checkbox"]:checked),
.btn:is(input[type="radio"]:checked) {
    --un-border-opacity: 1;
    border-color: hsl(var(--p) / var(--un-border-opacity));
    --un-bg-opacity: 1;
    background-color: hsl(var(--p) / var(--un-bg-opacity));
    --un-text-opacity: 1;
    color: hsl(var(--pc) / var(--un-text-opacity))
}
.btn:is(input[type="checkbox"]:checked):focus-visible, .btn:is(input[type="radio"]:checked):focus-visible {
    outline-color: hsl(var(--p) / 1)
}

.btn-circle {
    height: 3rem;
    width: 3rem;
    border-radius: 9999px;
    padding: 0px
}
.btn-circle:where(.btn-xs) {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 9999px;
    padding: 0px
}
.btn-circle:where(.btn-sm) {
    height: 2rem;
    width: 2rem;
    border-radius: 9999px;
    padding: 0px
}
.btn-circle:where(.btn-md) {
    height: 3rem;
    width: 3rem;
    border-radius: 9999px;
    padding: 0px
}
.btn-circle:where(.btn-lg) {
    height: 4rem;
    width: 4rem;
    border-radius: 9999px;
    padding: 0px
}

.checkbox {
    flex-shrink: 0;
    --chkbg: var(--bc);
    --chkfg: var(--b1);
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border-width: 1px;
    border-color: hsl(var(--bc) / var(--un-border-opacity));
    --un-border-opacity: 0.2;
    border-radius: var(--rounded-btn, 0.5rem)
}
.checkbox:focus-visible {
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 2px;
    outline-color: hsl(var(--bc) / 1)
}
.checkbox:checked,
  .checkbox[checked="true"],
  .checkbox[aria-checked="true"] {
    --un-bg-opacity: 1;
    background-color: hsl(var(--bc) / var(--un-bg-opacity));
    background-repeat: no-repeat;
    animation: checkmark var(--animation-input, 0.2s) ease-out;
    background-image: linear-gradient(-45deg, transparent 65%, hsl(var(--chkbg)) 65.99%),
      linear-gradient(45deg, transparent 75%, hsl(var(--chkbg)) 75.99%),
      linear-gradient(-45deg, hsl(var(--chkbg)) 40%, transparent 40.99%),
      linear-gradient(
        45deg,
        hsl(var(--chkbg)) 30%,
        hsl(var(--chkfg)) 30.99%,
        hsl(var(--chkfg)) 40%,
        transparent 40.99%
      ),
      linear-gradient(-45deg, hsl(var(--chkfg)) 50%, hsl(var(--chkbg)) 50.99%)
}
.checkbox:indeterminate {
    --un-bg-opacity: 1;
    background-color: hsl(var(--bc) / var(--un-bg-opacity));
    background-repeat: no-repeat;
    animation: checkmark var(--animation-input, 0.2s) ease-out;
    background-image: linear-gradient(90deg, transparent 80%, hsl(var(--chkbg)) 80%),
      linear-gradient(-90deg, transparent 80%, hsl(var(--chkbg)) 80%),
      linear-gradient(
        0deg,
        hsl(var(--chkbg)) 43%,
        hsl(var(--chkfg)) 43%,
        hsl(var(--chkfg)) 57%,
        hsl(var(--chkbg)) 57%
      )
}
.checkbox:disabled {
    cursor: not-allowed;
    border-color: transparent;
    --un-bg-opacity: 1;
    background-color: hsl(var(--bc) / var(--un-bg-opacity));
    opacity: 0.2
}
[dir="rtl"] .checkbox:checked,
    [dir="rtl"] .checkbox[checked="true"],
    [dir="rtl"] .checkbox[aria-checked="true"] {
    background-image: linear-gradient(45deg, transparent 65%, hsl(var(--chkbg)) 65.99%),
        linear-gradient(-45deg, transparent 75%, hsl(var(--chkbg)) 75.99%),
        linear-gradient(45deg, hsl(var(--chkbg)) 40%, transparent 40.99%),
        linear-gradient(
          -45deg,
          hsl(var(--chkbg)) 30%,
          hsl(var(--chkfg)) 30.99%,
          hsl(var(--chkfg)) 40%,
          transparent 40.99%
        ),
        linear-gradient(45deg, hsl(var(--chkfg)) 50%, hsl(var(--chkbg)) 50.99%)
}

.dropdown {
    position: relative;
    display: inline-block
}
.dropdown > *:not(summary):focus {
    outline: 2px solid transparent;
    outline-offset: 2px
}
.dropdown .dropdown-content {
    position: absolute
}
.dropdown:is(:not(details)) .dropdown-content {
    visibility: hidden;
    opacity: 0;
    transform-origin: top;
    --un-scale-x: .95;
    --un-scale-y: .95;
    transform: translate(var(--un-translate-x), var(--un-translate-y)) rotate(var(--un-rotate)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y));
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 200ms
}
.dropdown.dropdown-open .dropdown-content,
.dropdown:not(.dropdown-hover):focus .dropdown-content,
.dropdown:focus-within .dropdown-content {
    visibility: visible;
    opacity: 1
}
.dropdown.dropdown-hover:hover .dropdown-content {
        visibility: visible;
        opacity: 1
    }
.dropdown.dropdown-hover:hover .dropdown-content {
        --un-scale-x: 1;
        --un-scale-y: 1;
        transform: translate(var(--un-translate-x), var(--un-translate-y)) rotate(var(--un-rotate)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y))
    }
.dropdown:is(details) summary::-webkit-details-marker {
    display: none
}
.dropdown.dropdown-open .dropdown-content,
.dropdown:focus .dropdown-content,
.dropdown:focus-within .dropdown-content {
    --un-scale-x: 1;
    --un-scale-y: 1;
    transform: translate(var(--un-translate-x), var(--un-translate-y)) rotate(var(--un-rotate)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y))
}

.btn-ghost:hover {
        --un-border-opacity: 0;
        background-color: hsl(var(--bc) / var(--un-bg-opacity));
        --un-bg-opacity: 0.2
    }
.btn-ghost {
    border-width: 1px;
    border-color: transparent;
    background-color: transparent;
    color: currentColor;
    --un-shadow: 0 0 #0000;
    --un-shadow-colored: 0 0 #0000;
    box-shadow: var(--un-ring-offset-shadow, 0 0 #0000), var(--un-ring-shadow, 0 0 #0000), var(--un-shadow);
    outline-color: currentColor
}
.btn-ghost.btn-active {
    --un-border-opacity: 0;
    background-color: hsl(var(--bc) / var(--un-bg-opacity));
    --un-bg-opacity: 0.2
}

.input {
    flex-shrink: 1;
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.875rem;
    font-size: 1rem;
    line-height: 1.25rem;
    line-height: 2;
    line-height: 1.5rem;
    border-width: 1px;
    border-color: hsl(var(--bc) / var(--un-border-opacity));
    --un-border-opacity: 0;
    --un-bg-opacity: 1;
    background-color: hsl(var(--b1) / var(--un-bg-opacity));
    border-radius: var(--rounded-btn, 0.5rem)
}
.input input:focus {
    outline: 2px solid transparent;
    outline-offset: 2px
}
.input[list]::-webkit-calendar-picker-indicator {
    line-height: 1em
}
.input:focus,
  .input:focus-within {
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 2px;
    outline-color: hsl(var(--bc) / 0.2)
}

.join {
    display: inline-flex;
    align-items: stretch;
    border-radius: var(--rounded-btn, 0.5rem)
}
.join :where(.join-item) {
    border-start-end-radius: 0;
    border-end-end-radius: 0;
    border-end-start-radius: 0;
    border-start-start-radius: 0
}
.join .join-item:not(:first-child):not(:last-child),
  .join *:not(:first-child):not(:last-child) .join-item {
    border-start-end-radius: 0;
    border-end-end-radius: 0;
    border-end-start-radius: 0;
    border-start-start-radius: 0
}
.join .join-item:first-child:not(:last-child),
  .join *:first-child:not(:last-child) .join-item {
    border-start-end-radius: 0;
    border-end-end-radius: 0
}
.join .dropdown .join-item:first-child:not(:last-child),
  .join *:first-child:not(:last-child) .dropdown .join-item {
    border-start-end-radius: inherit;
    border-end-end-radius: inherit
}
.join :where(.join-item:first-child:not(:last-child)),
  .join :where(*:first-child:not(:last-child) .join-item) {
    border-end-start-radius: inherit;
    border-start-start-radius: inherit
}
.join .join-item:last-child:not(:first-child),
  .join *:last-child:not(:first-child) .join-item {
    border-end-start-radius: 0;
    border-start-start-radius: 0
}
.join :where(.join-item:last-child:not(:first-child)),
  .join :where(*:last-child:not(:first-child) .join-item) {
    border-start-end-radius: inherit;
    border-end-end-radius: inherit
}
:where(.join *) {
        border-radius: inherit
    }
:where(.join *:has(.join-item)) {
        border-radius: inherit
    }
.join > :where(*:not(:first-child)) {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -1px
}
.join.join-vertical {
    flex-direction: column
}
.join.join-vertical .join-item:first-child:not(:last-child),
  .join.join-vertical *:first-child:not(:last-child) .join-item {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit
}
.join.join-vertical .join-item:last-child:not(:first-child),
  .join.join-vertical *:last-child:not(:first-child) .join-item {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit
}
.join.join-horizontal {
    flex-direction: row
}
.join.join-horizontal .join-item:first-child:not(:last-child),
  .join.join-horizontal *:first-child:not(:last-child) .join-item {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: inherit;
    border-top-left-radius: inherit
}
.join.join-horizontal .join-item:last-child:not(:first-child),
  .join.join-horizontal *:last-child:not(:first-child) .join-item {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: inherit;
    border-top-right-radius: inherit
}
.join.join-vertical > :where(*:not(:first-child)) {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -1px
}
.join.join-horizontal > :where(*:not(:first-child)) {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -1px
}

.navbar {
    display: flex;
    align-items: center;
    padding: var(--navbar-padding, 0.5rem);
    min-height: 4rem;
    width: 100%
}
:where(.navbar > *) {
    display: inline-flex;
    align-items: center
}

.input-bordered {
    --un-border-opacity: 0.2
}

.join-item:focus {
    isolation: isolate
}

.rounded-box {
    border-radius: var(--rounded-box, 1rem)
}

.menu-sm :where(li:not(.menu-title) > *:not(ul):not(details):not(.menu-title)),
  .menu-sm :where(li:not(.menu-title) > details > summary:not(.menu-title)) {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-radius: var(--rounded-btn, 0.5rem)
}
.menu-sm .menu-title {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem
}

/* layer: daisy-keyframes */
@keyframes button-pop {
    0% {
        transform: scale(var(--btn-focus-scale, 0.98))
    }
    40% {
        transform: scale(1.02)
    }
    100% {
        transform: scale(1)
    }
}
@keyframes checkmark {
    0% {
        background-position-y: 5px
    }
    50% {
        background-position-y: -2px
    }
    100% {
        background-position-y: 0
    }
}
@keyframes modal-pop {
    0% {
        opacity: 0
    }
}
@keyframes progress-loading {
    50% {
        background-position-x: -115%
    }
}
@keyframes radiomark {
    0% {
        box-shadow: 0 0 0 12px hsl(var(--b1)) inset,
      0 0 0 12px hsl(var(--b1)) inset
    }
    50% {
        box-shadow: 0 0 0 3px hsl(var(--b1)) inset,
      0 0 0 3px hsl(var(--b1)) inset
    }
    100% {
        box-shadow: 0 0 0 4px hsl(var(--b1)) inset,
      0 0 0 4px hsl(var(--b1)) inset
    }
}
@keyframes rating-pop {
    0% {
        transform: translateY(-0.125em)
    }
    40% {
        transform: translateY(-0.125em)
    }
    100% {
        transform: translateY(0)
    }
}
@keyframes toast-pop {
    0% {
        transform: scale(0.9);
        opacity: 0
    }
    100% {
        transform: scale(1);
        opacity: 1
    }
}
/* layer: daisy-themes */
:root {
    color-scheme: light;
    --pf: 0 0% 0%;
    --sf: 0 2% 3%;
    --af: 0 0% 8%;
    --nf: 0 0% 0%;
    --btn-text-case: uppercase;
    --border-btn: 1px;
    --tab-border: 1px;
    --p: 0 0% 5%;
    --pc: 0 0% 100%;
    --s: 0 2% 10%;
    --sc: 0 0% 100%;
    --a: 0 0% 15%;
    --ac: 0 0% 100%;
    --n: 0 0% 0%;
    --nc: 0 0% 100%;
    --b1: 0 0% 100%;
    --b2: 0 0% 95%;
    --b3: 0 2% 90%;
    --bc: 0 0% 0%;
    --in: 212 100% 48%;
    --inc: 0 0% 100%;
    --su: 137 72% 46%;
    --suc: 0 0% 0%;
    --wa: 5 100% 66%;
    --wac: 0 0% 100%;
    --er: 325 78% 49%;
    --erc: 0 0% 100%;
    --rounded-box: 0.25rem;
    --rounded-btn: 0.125rem;
    --rounded-badge: 0.125rem;
    --animation-btn: 0;
    --animation-input: 0;
    --btn-focus-scale: 1;
    --tab-radius: 0
}
[data-theme=lofi] {
    color-scheme: light;
    --pf: 0 0% 0%;
    --sf: 0 2% 3%;
    --af: 0 0% 8%;
    --nf: 0 0% 0%;
    --btn-text-case: uppercase;
    --border-btn: 1px;
    --tab-border: 1px;
    --p: 0 0% 5%;
    --pc: 0 0% 100%;
    --s: 0 2% 10%;
    --sc: 0 0% 100%;
    --a: 0 0% 15%;
    --ac: 0 0% 100%;
    --n: 0 0% 0%;
    --nc: 0 0% 100%;
    --b1: 0 0% 100%;
    --b2: 0 0% 95%;
    --b3: 0 2% 90%;
    --bc: 0 0% 0%;
    --in: 212 100% 48%;
    --inc: 0 0% 100%;
    --su: 137 72% 46%;
    --suc: 0 0% 0%;
    --wa: 5 100% 66%;
    --wac: 0 0% 100%;
    --er: 325 78% 49%;
    --erc: 0 0% 100%;
    --rounded-box: 0.25rem;
    --rounded-btn: 0.125rem;
    --rounded-badge: 0.125rem;
    --animation-btn: 0;
    --animation-input: 0;
    --btn-focus-scale: 1;
    --tab-radius: 0
}
[data-theme=black] {
    color-scheme: dark;
    --pf: 0 2% 13%;
    --sf: 0 2% 13%;
    --af: 0 2% 13%;
    --bc: 145 0% 78%;
    --pc: 0 1% 82%;
    --sc: 0 1% 82%;
    --ac: 0 1% 82%;
    --nc: 0 0% 81%;
    --inc: 263 100% 91%;
    --suc: 105 32% 85%;
    --wac: 58 45% 13%;
    --erc: 17 100% 90%;
    --border-btn: 1px;
    --tab-border: 1px;
    --p: 0 2% 20%;
    --s: 0 2% 20%;
    --a: 0 2% 20%;
    --b1: 0 0% 0%;
    --b2: 0 0% 5%;
    --b3: 0 2% 10%;
    --n: 0 1% 15%;
    --nf: 0 2% 20%;
    --in: 240 100% 50%;
    --su: 120 100% 25%;
    --wa: 60 100% 50%;
    --er: 0 100% 50%;
    --rounded-box: 0;
    --rounded-btn: 0;
    --rounded-badge: 0;
    --animation-btn: 0;
    --animation-input: 0;
    --btn-text-case: lowercase;
    --btn-focus-scale: 1;
    --tab-radius: 0
}
/* layer: default */
.z-\[1\]{z-index:1;}
.-m-1{margin:-0.25rem;}
.mx-auto{margin-left:auto;margin-right:auto;}
.mb-4{margin-bottom:1rem;}
.mr-1{margin-right:0.25rem;}
.mt-3{margin-top:0.75rem;}
.h-5{height:1.25rem;}
.h-8{height:2rem;}
.h-screen{height:100vh;}
.max-w-2xl{max-width:42rem;}
.min-h-0{min-height:0;}
.w-5{width:1.25rem;}
.w-52{width:13rem;}
.w-8{width:2rem;}
.w-full{width:100%;}
.flex{display:flex;}
.flex-1{flex:1 1 0%;}
.flex-none{flex:none;}
.flex-col{flex-direction:column;}
.cursor-pointer{cursor:pointer;}
.items-center{align-items:center;}
.gap-2{gap:0.5rem;}
.bg-base-100{--un-bg-opacity:1;background-color:hsl(var(--b1) / var(--un-bg-opacity));}
.p-2{padding:0.5rem;}
.p-4{padding:1rem;}
.p-6{padding:1.5rem;}
.text-3xl{font-size:1.875rem;line-height:2.25rem;}
.text-lg{font-size:1.125rem;line-height:1.75rem;}
.text-xl{font-size:1.25rem;line-height:1.75rem;}
.font-bold{font-weight:700;}
.leading-snug{line-height:1.375;}
.normal-case{text-transform:none;}
.shadow{--un-shadow:var(--un-shadow-inset) 0 1px 3px 0 var(--un-shadow-color, rgb(0 0 0 / 0.1)),var(--un-shadow-inset) 0 1px 2px -1px var(--un-shadow-color, rgb(0 0 0 / 0.1));box-shadow:var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}
@media (min-width: 640px){
.sm\:flex-row{flex-direction:row;}
}